@model AzmanAzWebPage.Viewmodel.MyModel
@foreach (var item in Model._adresim)
{
    <div class="telefon">
        <p class="mvmh" id="nomredi">@item.adres_telefon</p>
        <h4 class="mvm">@item.adres_gmail</h4>
    </div>

}

