
@{
    ViewBag.Title = "Haqqimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about -->
<div class="about" id="about">
    <div class="agileits_works-top">
        <div class="col-md-4 about-img-right">
        </div>
        <div class="col-md-8 agileits_works-grid two">

            <div class="wthree-text">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts">Haqqımızda <i class="fa fa-bell" aria-hidden="true"></i></h3>
                </div>
                <p class="para-w3-agile">
                    İlk olaraq şirkətin məhsullarının tam təbii olmasını nəzərinizə çatdıraraq başlamaq istərdik.AzManAz bütövlükdə təbii dərman preparatlarının asan yolla və ən əsası məxfiliyi qoruyub saxlamaq şərtilə sizə təqdim edir. 
                    Nəzərə çatdırırıq ki,ölkə üzrə bütün bölgələrə Çatdırılma Pulsuzdur. 
                    Məhsulların hər biri sırf bitki tərkibli olduğu üçün rahatlıqla istifadə edə bilərsiniz. 
                    Türkiye istehsali olan bu məhsulları sizə əlçatan edən biz AzmanAz komandası hər zaman xidmətinizdəyik..
                </p>
                <ul class="about-agile">
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Bitki tərkibli məhsullar</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Pulsuz Çatdırılma</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Rahat istifadə qaydası</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Məxfiliyin qorunması</li>
                </ul>
            </div>

        </div>

        <div class="clearfix"> </div>
    </div>

</div>
<!-- //about -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <div class="w3l-about-grids">
            <div class="col-md-6 w3ls-about-left">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts white-agileits">Xidmətlər <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Pulsuz Çatdırılma</h5>
                        <p class="para-w3-agile">Sifarişlərinizi istənilən məkana Pulsuz çatdırırıq. Bu xidmətimizlə siz ölkənin istənilən ərazisində olsanız belə məhsulu əldə edə bilərsiniz</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Çatdırılma Məxfiliyi</h5>
                        <p class="para-w3-agile">Mehsulları sifariş etdikden sonra istənilən məkanda rahatlıqla məhsulu götürə bilərsiniz. Məhsuldan asılı olmayaraq hər bir məhsul sizə məxfi şəkildə çatırılacaq</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-6 w3ls-about-right">
                <div class="heading-setion-w3ls">
                    <h3 class="title-w3layouts white-agileits">Əlaqe nömrələrimiz <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
                </div>
                <div class="w3ls-about-right-img">
                    <div class="test-gri1">
                        <div id="owl-demo2" class="owl-carousel">
                            <div class="test-grid1">
                                <h4>Mobil nömrəmiz</h4>
                                <p>055 440 89 57</p>
                            </div>
                            <div class="agile">
                                <div class="test-grid1">
                                   
                                    <h4>Şəhər nömrəmiz</h4>
                                    <p>012 437 80 00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
