
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AzManAz </title>
    <!-- Bootstrap core CSS-->
    <link href="~/AdminPanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/AdminPanel/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/AdminPanel/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/AdminPanel/css/sb-admin.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://pluspng.com/img-png/png-health-health-png-file-600.png">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background:#253f69;">
            <a class="navbar-brand" href="/Az/AnaSəhifə/Index" style="letter-spacing: 5px;
    text-shadow: 2px 2px 12px white;">Saglamligim.com</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#sifarisler" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-wrench"></i>
                            <span class="nav-link-text">Sifarişlər</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="sifarisler">

                            <li>
                                <a href="/Zakazim/Index">Yeni</a>
                            </li>
                            <li>
                                <a href="/Zakazim/IndexGorunen">Görülən</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="~/Az/Inbox/Index">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span class="nav-link-text">Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#mehsulum" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-wrench"></i>
                            <span class="nav-link-text">Məhsullar</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="mehsulum">
                            <li>
                                <a href="/Mallars/Index">Məhsul</a>
                            </li>
                            <li>
                                <a href="~/Az/Kategoriyas/Index">Məhsul Növü</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-wrench"></i>
                            <span class="nav-link-text">Galereya</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseComponents">
                            @*<li>
                    <a href="/Slayders/Index">Slayder</a>
                </li>*@
                            <li>
                                <a href="/Galereyas/Index">Galereya</a>
                            </li>
                            <li>
                                <a href="/Karusels/Index">Karusel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#elavelre" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-wrench"></i>
                            <span class="nav-link-text">Əlavələr</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="elavelre">
                            <li>
                                <a href="~/Az/Endirimler/Index">Endirimlər</a>
                            </li>
                            <li>
                                <a href="~/Az/Servis/Index">Servis</a>
                            </li>
                            <li>
                                <a href="~/Az/Adresimiz/Index">Adresimiz</a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="~/Az/Zakaznovu/Index">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span class="nav-link-text">Sifariş növləri</span>
                        </a>
                    </li>
                </ul>


                <ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li>
                        @*<h3 class="text-left" style="text-align: left!important;
    position: relative;
    right: 274px;
    font-size: 28px;
    font-style: oblique;
    font-family: monospace;
    letter-spacing: 10px;
    color: white;
    text-shadow: 2px 2px 16px #f30000;">
                            Xoş gəlmisiniz
                        </h3>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Az/LoginAdmin/Index">
                            <i class="fa fa-fw fa-sign-out"></i>Çıxış
                        </a>
                    </li>



                </ul>
            </div>
        </nav>



    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>*@
                @*<li class="breadcrumb-item active">My Dashboard</li>*@
            </ol>
            <!-- Icon Cards-->

        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        @RenderBody()



        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>2018 Butun Huquqlar Qorunur ...</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cixis penceresi</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Cixmaq istediyinize eminsiniz ?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Geri</button>

                        <a class="btn btn-primary" href="~/UserLogin/Logout">Cixis</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/AdminPanel/vendor/jquery/jquery.min.js"></script>
        <script src="~/AdminPanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/AdminPanel/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/AdminPanel/vendor/chart.js/Chart.min.js"></script>
        <script src="~/AdminPanel/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/AdminPanel/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/AdminPanel/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/AdminPanel/js/sb-admin-datatables.min.js"></script>
        <script src="~/AdminPanel/js/sb-admin-charts.min.js"></script>



        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>


            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

    </div>
</body>

</html>