@model AzmanAzWebPage.Models.Zakaznovu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Az/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Zakaznovu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zakaznovu_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zakaznovu_ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.zakaznovu_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
